:root {

  /* Colors */
  --color-black: #000;
  --color-black-opacity: rgba(0, 0, 0, .5);
  --color-black-opacity-sm: rgba(0, 0, 0, .9);
  --color-grey: #545454;
  --color-grey-opacity: rgba(84, 84, 84, .7);
  --color-white: #fff;
  --color-red: #f00;


  /* borders */
  --border-radius-small: 2px;
  --border-radius-large: 10px;

  /* shadows */
  --shadow-large: 0 0 25px rgba(0, 0, 0, .15);
}

