.element {

  -webkit-border-radius: var(--border-radius-large);
  -moz-border-radius: var(--border-radius-large);
  -ms-border-radius: var(--border-radius-large);
  -o-border-radius: var(--border-radius-large);
  border-radius: var(--border-radius-large);

  overflow: hidden;

  background-color: var(--color-white);

  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
