.popup__form-input {
  width: 100%;
  padding: 10px 0;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-black);

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
}

.popup__form-input:focus {
  outline: none;

}


